<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg">
        </div>
        <div class="login-container">
            <form class="form_all">
                <div class="login">
                    <p class="login_p1">Username</p>
                    <input class="login_field" name="login" type="email" placeholder="__________" >
                    <p class="login_p">Password</p>
                    <input class="login_field" name="password" type="password" placeholder="__________">
                </div>
                
                <button type="button" class="btn vertical-margin-127px margin-left-auto">LOGIN</button>
                <div class="login-create">
                    <p class="login_question">Don't have an account?</p>
                    <button type="button" class="btn btn-create">Sign in</button>
                </div>
                
            </form>
        </div>
    </div>
</body>